---
permalink: /404.html
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>404</h1>

  <p><strong>Page not found</strong></p>
  <p>
    There was too much entropy for the requested page to exist, I
    guess.  If it was my fault, from reorganizing things, I'm very
    sorry.  But just in case, double-check the spelling in the
    address or head back to the front page.
  </p>
  <p>
    You might be find it useful to
  </p>
  <p>
    <a href="/blog/search/">
      <i class="fa fa-search"></i>
      Search
    </a>
    for what you need,
  </p>
  <p>
    look through the
    <a href="/blog/tags/">
      <i class="fas fa-tags"></i>
      Post Tags
    </a>, or
  </p>
    head back to the
    <a href="/blog/">
      <i class="fas fa-home"></i>
      main page
    </a>.
  <p>
  </p>
</div>
