---
permalink: /tags/
layout: default
---

<div class="tag-grid">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- for path in page_paths -%}
    {%- assign my_page = site.pages | where: "path", path | first -%}
    {%- if my_page.title -%}
      {%- if my_page.title -%}
        {%- assign title = my_page.title | split: " " -%}
      {%- endif -%}
      {%- if title[0] == 'Tag:' -%}
        <div>
          <a
            href="/blog/tag/{{ title[1] }}"
            title="All pages tagged with: {{ title[1] }}"
          >
            <i class="fa fa-tag"></i>
            {{ title[1] }}
          </a>
        </div>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
</div>
