<a class="skip-link" href="#headline">Skip to the content.</a>
<header class="site-header">
  <noscript>
    <p>
      <img src="//colagioia.net/pa/matomo.php?idsite=15&amp;rec=1" style="border:0;" alt="">
    </p>
  </noscript>

  <div class="wrapper">
    {%- assign default_paths = site.pages
      | where: "show_page", true
      | map: "path"
    -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- if page_paths -%}
      <nav class="site-nav">
        <div class="trigger">
          {%- include topmenu.html
            default_paths=default_paths
            page_paths=page_paths
          -%}
        </div>
      </nav>
    {%- endif -%}
  </div>
</header>
