<div class="tray-panel tray-panel-right">
  <h2 class="tray-pull tray-pull-right"><i class="far fa-envelope"></i></i></h2>
  <h2 class="tray-header">Sign&nbsp;up&nbsp;for&nbsp;My&nbsp;Newsletter!</h2>
  <div class="tray-contents">
    <div id="mc_embed_signup">
      <form
        action="https://colagioia.us10.list-manage.com/subscribe/post?u=39cc1ef2dc4f7d494dad7f2be&amp;id=92065b6dcf"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank"
        novalidate
      >
        <table id="mc_embed_signup_scroll">
          <tr>
            <td colspan="2">
              Get monthly<a
                href="#month"
                style="text-decoration: none;"
              >
                <sup>*</sup>
              </a>
              updates on <b>Entropy Arbitrage</b> posts, additional
              reading of interest, thoughts that are too
              short/personal/trivial for a full post, and previews
              of upcoming projects, delivered right to your inbox.
              I won&rsquo;t share your information or use it for
              anything else.  But you <em>might</em> get an
              occasional discount on upcoming services.
            </td>
          </tr>
          <tr>
            <th>
              Or&hellip;
            </th>
            <td>
              Mailchimp 🐒 seems less trustworthy every month, so
              you <b>might</b> prefer to head to
              <a
                href="https://www.buymeacoffee.com/jcolag"
                target="_blank"
                title="☕"
              >
                my Buy Me a Coffee ☕ page
              </a>
              and follow me there, which will get you the newsletter
              three days after Mailchimp, for now.  Members receive
              previews, if you feel so inclined.
            </td>
          </tr>
          <tr class="mc-field-group">
            <th>
              <label for="mce-EMAIL">
                Email Address
              </label>
            </th>
            <td>
              <input
                class="required email mzp-js-email-field"
                id="mce-EMAIL"
                name="EMAIL"
                placeholder="(required)"
                type="email"
                value=""
              >
            </td>
          </tr>
          <tr class="mc-field-group">
            <th>
              <label for="mce-FNAME">
                First Name
              </label>
            </th>
            <td>
              <input
                class="required"
                id="mce-FNAME"
                name="FNAME"
                placeholder="(required)"
                type="text"
                value=""
              >
            </td>
          </tr>
          <tr class="mc-field-group">
            <th>
              <label for="mce-LNAME">Last Name</label>
            </th>
            <td>
              <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
            </td>
          </tr>
          <tr class="mc-field-group input-group">
            <th>Email Format</th>
            <td>
              <input
                checked
                group="EMAILTYPE"
                id="mce-EMAILTYPE-0"
                name="EMAILTYPE"
                selected
                type="radio"
                value="html"
              >
              <label for="mce-EMAILTYPE-0">html</label>
              <br>
              <input
                group="EMAILTYPE"
                id="mce-EMAILTYPE-1"
                name="EMAILTYPE"
                type="radio"
                value="text"
              >
              <label for="mce-EMAILTYPE-1">text</label>
            </td>
          </tr>
          <tr id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none">
            </div>
            <div class="response" id="mce-success-response" style="display:none">
            </div>
          </tr>
          <tr style="position: absolute; left: -5000px;" aria-hidden="true">
            <td>
              <input
                type="text"
                name="b_39cc1ef2dc4f7d494dad7f2be_92065b6dcf"
                tabindex="-1"
                value=""
              >
            </td>
          </tr>
          <tr class="clear">
            <td colspan="2" style="text-align: center;">
              <input
                type="submit"
                value="Subscribe"
                name="subscribe"
                id="mc-embedded-subscribe"
                class="button"
              >
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <a id="month" style="text-decoration: none;"><b>*</b></a>
              Each issue of the newsletter is released on the
              Saturday of the Sunday-to-Saturday week including the last
              day of the month.
            </td>
          </tr>
          <tr>
            <td colspan="2">
              Can&rsquo;t decide?  You can
              <a
                href="https://us10.campaign-archive.com/home/?u=39cc1ef2dc4f7d494dad7f2be&id=92065b6dcf"
                target="_blank"
                title="View previous campaigns"
              >
                read previous issues
              </a>
              to see what you&rsquo;ll get.
            </td>
          </tr>
        </div>
      </form>
    </div>
  </div>
</div>
