<div class="tray-panel tray-panel-right">
  <h2 class="tray-pull tray-pull-right"><i class="far fa-envelope"></i></h2>
  <h2 class="tray-header">Sign&nbsp;up&nbsp;for&nbsp;My&nbsp;Newsletter!</h2>
  <div
    class="tray-contents"
    style="background-color: #FFFFFF3F; border-radius: 1em; margin: 1em; padding: 0.5em;"
  >
    <p>
      Do you want even more oddball ideas than the blog holds?
    </p>
    <p>
      Head over to
      <a
        href="https://www.buymeacoffee.com/jcolag"
        target="_blank"
        title="☕"
      >
        my Buy Me a Coffee page
      </a>
      and follow me there.  Click the <i class="fas fa-ellipsis-h"></i>
      ellipsis in the upper-right corner, then <b>Follow</b>, which
      will get you the newsletter on the first Tuesday on or after the
      last day of the month.  (The first Tuesday of the next month,
      <i>unless</i> the month ends on a Tuesday.)
    </p>
    <p>
      You'll get monthly updates on <b>Entropy Arbitrage</b> posts,
      additional reading of interest, thoughts that are too
      short/personal/trivial for a full post, what I've
      watched/read/listened to, and previews of upcoming projects,
      delivered right to your inbox.
    </p>
    <p>
      I won&rsquo;t share your information or use it for anything else.
      But you <em>might</em> get an occasional discount on upcoming
      projects that I may charge for in
      <a href="/store">the site store</a>.
    </p>
    <p>
      <b>Members</b> receive previews of what goes into the newsletter,
      if you feel inclined to chip in some money.
    </p>
    <p>
      Still can&rsquo;t decide?  You can
      <a
        href="https://us10.campaign-archive.com/home/?u=39cc1ef2dc4f7d494dad7f2be&id=92065b6dcf"
        target="_blank"
        title="View previous campaigns"
      >
        read previous issues
      </a>
      of the newsletter to see what you&rsquo;ll get.
    </p>
  </div>
</div>
