<div class="tray-panel tray-panel-right">
  <h2 class="tray-pull"><i class="fas fa-chevron-left"></i></h2>
  <h2 class="tray-header">Sign&nbsp;up&nbsp;for&nbsp;My&nbsp;Newsletter!</h2>
  <div class="tray-contents">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <div id="mc_embed_signup">
      <p>
        Get monthly (or thereabouts) notifications on <b>Entropy Arbitrage</b>
        posts, additional reading of interest, random thoughts, and previews
        of upcoming projects, delivered right to your inbox.  I won&rsquo;t
        share your information or use it for anything else.
        <br>
        You can
        <a
          href="https://us10.campaign-archive.com/home/?u=39cc1ef2dc4f7d494dad7f2be&id=92065b6dcf"
          title="View previous campaigns"
        >
          view previous issues.
        </a>
        Unless it's still June 2020, in which case you can only see test
        messages.
        <br>
        If you disable trackers (like I do), this form won&rsquo;t work,
        so you&rsquo;ll need to
        <a href="https://entropy-arbitrage.mailchimpsites.com/">sign up
        on Mailchimp's site</a>.  Sorry!
      </p>
      <form
        action="https://colagioia.us10.list-manage.com/subscribe/post?u=39cc1ef2dc4f7d494dad7f2be&amp;id=92065b6dcf"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank"
        novalidate
      >
        <div id="mc_embed_signup_scroll">
          <table>
            <tr>
              <td>
                <label for="mce-EMAIL">Email Address</label>
              </td>
              <td title="field is required">
                <input
                  type="email"
                  value=""
                  name="EMAIL"
                  class="required email"
                  id="mce-EMAIL"
                >
              </td>
            </tr>
          <tr>
            <td>
              <label for="mce-FNAME">First Name</label>
            </td>
            <td title="field is required">
              <input
                type="text"
                value=""
                name="FNAME"
                class="required"
                id="mce-FNAME"
              >
            </td>
          </tr>
          <tr>
            <td>
              <label for="mce-LNAME">Last Name</label>
            </td>
            <td>
              <input
                type="text"
                value=""
                name="LNAME"
                class=""
                id="mce-LNAME"
              >
            </td>
          </tr>
          <tr>
            <td>
              <input
                type="radio"
                value="html"
                name="EMAILTYPE"
                id="mce-EMAILTYPE-0"
                checked="checked"
              >
              <label for="mce-EMAILTYPE-0">HTML</label>
            </td>
            <td>
              <input
                type="radio"
                value="text"
                name="EMAILTYPE"
                id="mce-EMAILTYPE-1"
              >
              <label for="mce-EMAILTYPE-1">Plain Text</label>
            </td>
            </tr>
            <tr>
              <td colspan="2" style="text-align: center;">
                <div id="mce-responses" class="clear">
                  <div
                    class="response"
                    id="mce-error-response"
                    style="display:none"
                  >
                  </div>
                  <div
                    class="response"
                    id="mce-success-response"
                    style="display:none"
                  >
                  </div>
                </div>
                <div
                  style="position: absolute; left: -5000px;"
                  aria-hidden="true"
                >
                  <input
                    type="text"
                    name="b_39cc1ef2dc4f7d494dad7f2be_92065b6dcf"
                    tabindex="-1"
                    value=""
                  >
                </div>
                <div class="clear">
                  <input
                    type="submit"
                    value="Subscribe"
                    name="subscribe"
                    id="mc-embedded-subscribe"
                    class="button"
                  >
                </div>
              </td>
            </tr>
          </table>
        </div>
      </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
  </div>
</div>
