@charset "utf-8";
@import '/blog/assets/fa/css/all.css';

// Define defaults for each variable.

@font-face {
  font-family: 'Exo 2';
  src: url('/blog/assets/Exo2-Light.ttf');
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('/blog/assets/Vollkorn-Bold.ttf');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Noto Color Emoji';
  src: url('/blog/assets/NotoColorEmoji.ttf');
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

$base-font-family: 'Exo 2', "Noto Color Emoji" !default;
$header-font-family: Vollkorn, 'Noto Color Emoji' !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$background-color: #dccea1 !default;
$text-color:       #244151 !default;
$brand-color:      #49281b !default;
$grey-color:       #828282 !default;

$light-bg:         lighten($background-color, 10%) !default;
$light-bg-x:       $light-bg !default;
$dark-bg:          darken($background-color, 15%) !default;
$light-text:       lighten($text-color, 15%) !default;
$light-brand-color: lighten($brand-color, 10%) !default;
$xp-brand-color:   $brand-color !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

body {
  background-image: url('/blog/assets/square_bg.png');
  color: $text-color;
}

h1, h2, h3, h4, h5, h6, header, .site-title, .site-title:visited, .page-link, .page-link:visited {
  font-family: $header-font-family;
  text-align: center;
  -moz-transition: color 2s;
  -webkit-transition: color 2s;
  -o-transition: color 2s;
  -ms-transition: color 2s;
  transition: color 2s;
}

h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,header:hover,.site-title:hover,.page-link:hover {
  color: $light-brand-color !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.wrapper a {
  color: $brand-color !important;
}

.wrapper a:visited {
  color: $light-brand-color !important;
}

.site-nav .page-link:not(:last-child) {
  color: white;
  margin-right: 1em;
}

.site-nav a i {
  color: $brand-color;
  -moz-transition: color 2s;
  -webkit-transition: color 2s;
  -o-transition: color 2s;
  -ms-transition: color 2s;
  -transition: color 2s;
}

.site-nav a i:hover {
  color: $light-brand-color;
}

h1 {
  font-size: 2em !important;
}

h2 {
  font-size: 1.5em !important;
}

h3 {
  font-size: 1.33em !important;
}

h4 {
  font-size: 1.25em !important;
}

h5 {
  font-size: 1.17em !important;
}

h6 {
  text-align: right;
}

blockquote {
  background: linear-gradient(
    to bottom right,
    rgba($background-color, 0.0),
    rgba($light-brand-color, 0.075)
  );
  border-left: 5px solid $brand-color;
  border-right: 5px solid $brand-color;
}

blockquote blockquote {
  border-left: 0.25em solid $brand-color;
  border-right: 0;
  color: $brand-color;
  float: right;
  font-family: $header-font-family;
  font-size: x-large;
  font-weight: bold;
  margin-left: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.25em;
  padding-top: 0.25em;
  text-align: right;
  width: 35%;
}

time {
  color: $light-brand-color;
}

code {
  background-color: $light-bg-x;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background-color: $light-bg-x !important;
}

pre code {
  background-color: transparent;
}

iframe {
  width: 100%;
}

a {
  text-decoration: underline dotted;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: underline dotted $xp-brand-color 0.5px;
}

table {
  border-color: $light-text !important;
}

th {
  background-color: $light-brand-color !important;
  color: $dark-bg;
}

tr:nth-child(odd) {
  background-color: $background-color !important;
}

tr:nth-child(even) {
  background-color: $dark-bg !important;
}

td {
  border-color: $light-text !important;
  color: $light-text !important;
}

.post-content img {
  box-shadow: 5px 5px 5px $dark-bg;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a.site-title:visited, a.page-link:visited {
  color: $brand-color !important;
}

.site-header {
  border-bottom: 1px solid $light-brand-color;
  border-top: 5px solid $brand-color;
}

.site-header a {
  text-decoration: none;
}

.site-footer {
  border-top: 1px solid $light-brand-color;
}

.site-footer a {
  text-decoration: none;
}

.post-meta, .p-name, .footer-col-wrapper {
  color: $text-color;
}

.post-meta {
  display: inline-block;
  font-size: x-small;
  text-align: center;
  width: 100%;
}

.post-summary {
  text-align: center;
}

.rss-subscribe {
  text-align: center;
  width: 100%;
}

.thumbnail-image {
  border: 1px solid $brand-color;
  border-radius: 1.625em;
  height: 3.25em;
  left: auto;
  overflow: hidden;
  position: absolute;
  right: auto;
}

.thumbnail-image img {
  display: inline;
  opacity: 0.075;
  width: calc(800px - (30px * 2));
  -moz-transition: opacity 2s;
  -webkit-transition: opacity 2s;
  -o-transition: opacity 2s;
  -ms-transition: opacity 2s;
  -transition: opacity 2s;
}

.thumbnail-image img:hover {
  opacity: 0.33;
}

.page-content {
  background-attachment: fixed;
  background-image: url('/blog/assets/jc-bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15%;
}

div.highlighter-rouge {
  margin-left: 7.5%;
  margin-right: 7.5%;
}

pre[class*="language-"] {
  margin-left: 7.5% !important;
  margin-right: 7.5% !important;
}

div.highlighter-rouge pre[class*="language-"] {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.highlighter-rouge .highlight {
  background: $light-bg-x;
  border-radius: 1em;
  box-shadow: 5px 5px 5px $dark-bg;
}

.home-button {
  height: 1.5em;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
}

.home-button:hover {
  transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
}

.tag-grid {
  display: grid;
  grid-gap: 1em;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-auto-flow: row dense;
}

.tag-grid div {
  width: 200px;
}

.pagination {
  text-align: center;
  width: 100%;
}

.site-nav a {
  color: $brand-color !important;
}

.page-link {
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.page-link:hover {
  font-size: 1.2em;
  margin-right: 0.75em !important;
}

.post-update {
  background: linear-gradient(
    to bottom right,
    rgba($background-color, 0.0),
    rgba($light-brand-color, 0.075)
  );
  border: 5px solid $brand-color;
  border-radius: 1em;
  margin-left: 10%;
  padding: 0.5em;
  width: 80%;
}

a .page-link:hover {
  left: 0.1em;
  margin-right: -0.05em !important;
}

a.tag-name {
  background-color: $dark-bg;
  border: 1px solid $text-color;
  border-radius: 0.75em;
  color: $light-text !important;
  font-weight: bold;
  padding: 0.25em;
  text-decoration: none;
}

a.tag-name:visited {
  color: $light-text !important;
}

.tray-panel {
  background-color: $dark-bg;
  border: 5px solid $brand-color;
  border-left: 0;
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em;
  height: 40vh;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: calc(50% - 20vh);
  transition: all 1s;
  width: 2em;
}

.tray-panel-right {
  border: 5px solid $brand-color;
  border-right: 0;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 0;
  border-top-left-radius: 2em;
  border-top-right-radius: 0;
  left: auto;
  right: 0;
}

.tray-panel .tray-header {
  display: none;
  transform: rotate(90deg) translate(1em);
  transition: all 1s;
}

.tray-panel .tray-pull {
  display: block;
  margin-top: calc(20vh - 0.5em);
}

.tray-panel .tray-contents {
  display: none;
  padding-left: 2em;
  padding-right: 2em;
  transition: all 1s;
}

.tray-panel:hover {
  width: 33vw;
}

.tray-panel:hover .tray-header {
  animation: fadein 0.5s;
  display: block;
  transform: rotate(0);
}

.tray-panel:hover .tray-pull {
  animation: fadeout 3s;
  display: none;
}

.tray-panel:hover .tray-contents {
  animation: fadein 2s;
  display: block;
}

.tray-panel input[type=submit] {
  background-color: $brand-color;
  border-radius: 0.5em;
  color: $background-color;
  font-family: 'Vollkorn';
  font-size: 1.5em;
}

.kbd {
  border: 1px solid $text-color;
  border-radius: 0.1em;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#search-container {
  font-size: x-large;
}

#search-container input {
  font-size: x-large;
}
