$base-font-family: 'Exo 2', 'Noto Color Emoji', CCSymbols !default;
$header-font-family: Vollkorn, 'Noto Color Emoji', CCSymbols !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;


$background-color: light-dark(hsl(var(--yellow),45.7%,74.7%), hsl(var(--blue),45.7%,16.3%)) !default;
$text-color:       light-dark(hsl(var(--blue),39.4%,12.9%), hsl(var(--yellow),39.4%,87.1%)) !default;
$brand-color:      light-dark(hsl(var(--red),46%,19.6%), hsl(var(--red),66%,70.4%)) !default;
$grey-color:       hsl(0,0%,51%) !default;

$badge-blue:       hsl(var(--blue),99.4%,74.9%) !default;

$light-bg:         light-dark(hsl(var(--yellow),45.7%,84.7%), hsl(var(--blue),45.7%,6.3%)) !default;
$dark-bg:          light-dark(hsl(var(--yellow),45.7%,59.7%), hsl(var(--blue),45.7%,31.3%)) !default;
$bg-xp:            light-dark(hsl(var(--yellow),45.7%,74.7%,0.0), hsl(var(--blue),45.7%,16.3%,0.0)) !default;
$light-text:       light-dark(hsl(var(--blue),39.4%,27.9%), hsl(var(--yellow),39.4%,60.1%)) !default;
$light-text-x:     light-dark(hsl(var(--blue),39.4%,62.9%), hsl(var(--yellow),39.4%,37.1%)) !default;
$dark-text:        light-dark(hsl(var(--blue),39.4%,0.9%), hsl(var(--yellow),39.4%,99.1%)) !default;
$light-brand-color:light-dark(hsl(var(--red),56%,29.6%), hsl(var(--red),76%,60.4%)) !default;
$dark-brand-color: light-dark(hsl(var(--red),56%,4.6%), hsl(var(--red),76%,80.4%)) !default;
$brand-xp:         light-dark(hsla(var(--red),46%,19.6%,0.05), hsla(var(--red),46%,80.4%,0.05)) !default;
$grey-color-light: light-dark(hsl(0,0%,91%), hsl(0,0%,11%)) !default;
$grey-color-dark:  light-dark(hsl(0,0%,76%), hsl(0,0%,26%)) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

@function scale-font-size($size, $base: 16) {
  @return calc($size / $base * 1rem);
}

