---
layout: default
---
<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header class="post-header">
    <h1
      class="post-title p-name"
      itemprop="name headline"
    >
      {{ page.title | escape }}
    </h1>
    <p class="post-meta">
      <time
        class="dt-published"
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {%- assign date_format = site.minima.date_format |
          default: "%b %-d, %Y, %l:%M%P"
        -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        •
        <span
          itemprop="author"
          itemscope
          itemtype="http://schema.org/Person"
        >
          <span class="p-author h-card" itemprop="name">
            {{ page.author }}
          </span>
        </span>
      {%- endif -%}</p>
  </header>

  {% assign pagename = page.path | split: '/' | last %}
  {% assign related = "" %}
  {% for post in site.posts %}
    {% for update in post.update %}
      {% assign name = update | split: '/' | last %}
      {% if name == pagename %}
        {% assign dest = post.title %}
        {% assign dest = dest | append: ";" %}
        {% assign dest = dest | append: post.url %}
        {% assign dest = dest | append: ";" %}
        {% assign dest = dest | append: post.date %}
        {% assign dest = dest | append: "|" %}
        {% assign related = related | append: dest %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  {% assign related = related | split: "|" %}
  {% if related.size > 0 %}
    <div class="post-content post-update">
      <b>Hi!</b>
      It looks like this post has since been updated or rethought in some
      ways, so you may want to look at
      {% if related.size == 1 %}
        this
      {% else %}
        these
      {% endif %}
      after you're done reading here.
      <ul>
        {% for r in related %}
          {% assign rel = r | split: ";" %}
          {% if rel.size > 1 %}
            <li>
              <a href="{{ rel[1] }}">
                {{ rel[0] }}
              </a>
              from
              {{ rel[2] | date: date_format }}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <hr>

  <p class="hashover-title hashover-main-title hashover-dashed-title">
    By commenting, you agree to follow the blog's
    <a href="/blog/coc">Code of Conduct</a>
    and that your comment is released under the
    <a href="http://creativecommons.org/licenses/by-sa/4.0/">
      same license
    </a>
    as the rest of the blog.
  </p>
  <script
    type="text/javascript"
    src="/hashover-next/comments.php"
  ></script>
  <script
    src="/blog/assets/prism.js"
    type="text/javascript"
  ></script>

  <span>Tags:
    {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      &nbsp;
      <a
        class="tag-name"
        href="/blog/tag/{{ tag_name }}/"
      >{{ tag_name | strip }}</a>
    {% endfor %}
  </span>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
{% include mlist.html %}
