---
layout: webmention
---
<div class="h-entry webmention-social">
  <span
    class="p-author h-card"
    rel="author"
  >
    <a href="https://john.colagioia.net/" class="u-url u-uid">
      <img class="u-photo" src="https://john.colagioia.net/blog/assets/d29181b871b001b0.png.avif" />
      John Colagioia
    </a>
    <p class="p-note">Hi, I'm John (he/him), and I work on various odd things.</p>
  </span>
  {%- if page.title -%}
    <h2>{{ page.title }}</h2>
  {%- endif -%}
  <span class='p-name e-content'>
    {{ content }}
  </span>
  <a href='/blog{{ page.url }}' class='u-url'>
    <time class='dt-published' datetime='{{ page.date }}'>
      {{ page.date | format: 'date_at_time' }}
    </time>
  </a>
</div>
{%- webmentions_js -%}
